@font-face {
    font-family: Pixelar;
    src: url(../assets/fonts/Pixelar.ttf);
}

html, body {
    margin: 0;
    width: 100%;
    position: relative;
    font-family: Pixelar;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.game .score {
    width: 250px;
    margin-right: 100px;
    font-size: 40px;
}

.game .score p {
    margin: 0;
}

.game .score p:first-child {
    margin-bottom: 30px;
}

.game .settings {
    width: 250px;
    margin-top: 40px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game .settings .rowsRegulation img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

img.resetBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    
}

.settings .resetGame {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.settings .resetGame p {
    font-size: 30px;
}

.rowsRegulation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowsRegulation p {
    font-size: 30px;
}

.rowsRegulation .keys {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowsRegulation .keys span {
    font-size: 50px;
}

canvas {
    margin: 0px 50px;
}

.title {
    display: inline;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 500px;
    left: 0;
    text-align: center;
    font-size: 150px;
    color: red;
    line-height: 150px;
    font-family: Pixelar;
    text-shadow: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white, 3px 3px 0 white;
    letter-spacing: .2em;
    animation: upDown 1s linear infinite;
    transition: 0s;
}

.title em.upper {
    color: rgb(62, 252, 62);
    font-style: normal;
    vertical-align: 15px;
}

.title em.lower {
    color: yellow;
    font-style: normal;
    vertical-align: -40px;
}

.title em.semi-lower {
    
    font-style: normal;
    vertical-align: -20px;
    color: orange;
}

@keyframes upDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}